# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
tmp/
temp/

# Environment and Secrets
.env
.env.local
*.env*
*.jks
*.keystore
key.properties

# Vercel
.vercel/

